<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <title>about_us</title>
</head>
<body>
<div class="card" id="cars4">
    <img src="https://tse3.mm.bing.net/th?id=OIP.gni1oKr3Jw5OqyabVo9ykgHaCk&pid=Api&P=0&w=453&h=157" alt="upload" class="card-image-top" style="width:20%; margin-left:40%;">
    <div class="card-body">
      <h4 class="card-title"></h4>
      <p class="card-text">It is difficult to search in short time find  the notes when need it for exams or something else.</p>
      <p>Lets say an example , Now a days everything is available on mobiles from basic pics to banking .
      Now a days notes are prepared and shared on whatapp or some other platforms to share notes ,we delete it after the need to make space in memory, some times
      we need the it back , so we ask our teachers or friends to get it but sometimes we may not find.</p>
      <p>So we came up idea of <strong>FindMyNotes</strong> where you can upload the files to share with your friends in various colleges and you can download the need file from it</p>
      <p>you can upload and download any type of files</p>
      <p><a href="mailto:findmynotes@gmail.com" title="feedback"  class="btn btn-primary">Send feedback</a></p>
    </div>
  </div>
</body>
</html>