<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid d-flex justify-content-center align-items-center" style="margin-top:10vh">
    <div class="card bg-info p-3" style="width:400px">
        <div class="card-title text-warning"><h3>Report a problem<i class="	fas fa-exclamation-triangle"></i></h3></div>
        <div class="card-body">Contact us</div>
        <div class="card-text">
            <p>Our team is continously working for better experience to all students for providing a better files</p>
            <p><a href="mailto:findmynotesfeedback@gmail.com" title="feedback"  class="btn btn-primary">Report</a></p>
        </div>
        <div class="card-footer">
            <p class="text-white">This mail reach us as Fake document report and we delete it from our website within couple of days</p>
            <a type="button" class="btn btn-primary" href="/">Goback</a>
        </div>
    </div>
</div>
</body>
</html>